sudo: false
install: true

os:
  - linux

language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"

branches:
  only:
  - master

before_script:
- pip install pytest pytest-benchmark

script:
- make test

matrix:
  allow_failures:
    - python: "3.3"
    - python: "3.4"
    - python: "3.5"
    - python: "3.6"
    - python: "nightly"
